<%-include('partials/header.ejs')-%>
<form class="" action="/publish" method="post">


<textarea name="name" rows="8" cols="80" placeholder="Enter the text ..." autofocus required></textarea><br>
<button type="submit" name="button" class="button-25" >Submit</button>
</form>
<%-include('partials/footer.ejs')-%>
